#navbar{
    width: 100%;
    height: auto;
    background-color: lightblue;
    overflow: hidden;
    margin-top: 20px;
}

#navbar ul{
    list-style-type: none;
    width: 100%;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
}

#navbar a{
    display: block;
    text-align: center;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 17px;
  }

#navbar li a:hover{
    text-decoration: underline;
}

#header{
    margin-left: 30px;
    margin-top: 20px;
    text-decoration: underline;
}

#items{
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#item-1{
    border: 2px solid black;
    border-radius: 5px;
}

img{
    width: auto;
    height: auto;
    max-width: 150px;
    max-height: 250px;  
}

#item-name{
    text-align: center;
    font-weight: bold;
}

#item-price{
    text-align: center;
}

#heading{
    display: flex;
    flex-direction: column;
}

hr.breaker{
    border: 2px solid black;
    margin-top: 60px;
    margin-bottom: 40px;
}

.click:link{
    text-decoration: none;
    color: inherit;
    display: block;
}