body{
    margin: 0;
    padding: 0;
}

#spread{
    width: 100%;
}

#nav{
    list-style: none;
    width: 100%;
    background-color: lightblue;
    overflow: hidden;
}

#nav ul{
    list-style-type: none;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
}

#nav-import{
    display: flex;
    flex-direction: row;
    padding: 20px;
}

#nav a{
    display: block;
    text-align: center;
    color: black;
    text-align: center;
    padding: 18px;
    text-decoration: none;
    font-size: 20px;
  }

#nav-import a:hover{    
    text-decoration: underline;
    border-radius: 3px;
}

#nav ul #nav-import a:first-child{
    font-weight: bold;
}

#nav-import a:first-child:hover{
    text-decoration: none;
}

#title{
    text-align: center;
    font-size: 34px;
}

.wrapper .search_bar {
    width: 100%;
    height: auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.wrapper .search_bar .dropdown{
    width: 350px;
    height: 30px;
    padding-right: 20px;
    color: #9fa3b1;
    position: relative;
    cursor: pointer;
}

.wrapper .search_bar .dropdown #category{
    border: 2px solid black;
    border-left: 1px solid;
    width: 350px;
    height: 34px;
}

.wrapper .search_bar .search_field{
    border: 2px solid black;
    border-right: 1px solid;
    width: 500px;
    height: 30px;
    position: relative;

}

.wrapper .search_bar .search_field .input{
    width: 100%;
    height: 100%;
    border: 0;
    font-size: 16px;
    padding-left: 10px;
    color: black;   
}

.wrapper .search_bar .button{
    width: 150px;
}

.wrapper .search_bar .button input{
    width: 175px;
    height: 35px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#nav-import img{
    margin-top: 12px;
    width: auto;
    height: auto;
    max-width: 30px;
    max-height: 30px;
}

.dropdown .dropbtn{
    font-size: 20px;
    border: none;
    outline: none;
    color: black;
    font-family: inherit;
    background-color: inherit;
    padding: 18px;
    border-radius: 3px;
    margin-left: 5px;
}

.dropdown:hover .dropbtn{
    background-color: white;
}

.content{
    display: none;
    position: absolute;
    width: 160px;
    z-index: 1;
    background-color: lightblue;
}

#nav-import .content a{
    float: none;
    color: black;
    text-decoration: none;
    text-align: left;
    padding: 18px;
}

#nav-import .dropdown .content a:first-child{
    font-weight: normal;
}

.content a:hover{
    background-color: white;
}

.dropdown:hover .content{
    display:block;
}

#title a{
    text-decoration: none;
    color: black;
}


