.vertical{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
}

.vertical li{
    list-style-type: none;
    text-decoration: none;
}

.vertical a{
    background-color: #eee;
    color: black;
    display: block;
    padding: 24px;
    text-decoration: none;
}

.vertical a:hover{
    background-color: #ccc;
}

.vertical a:active{
    background-color: #4cAF50;
    color:white;
}

#seller{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 85%;
    justify-content: center;
    margin-bottom: 50px;
}

#seller-information{
    margin-left: 40px;
}

#seller-frame{
    margin-left: 40px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
  }

#image{
    width: auto;
    height: auto;
    max-width: 400px;
    max-height: 400px;
    border: 1px solid black;  
}

#seller-nav{
    display: flex;
    flex-direction: row;
}

#seller-nav img{
    width: auto;
    height: auto;
    max-width: 30px;
    max-height: 30px;
}