body{
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#item{
    width: auto;
    height: auto;
    max-width: 400px;
    max-height: 400px;
    border: 1px solid black;  
}

#bidding{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 65%;
}

#item-information{
    margin-left: 30px;
}

#bid{
    height: 50px;
    border: 1px solid #ccc; 
    overflow-y: scroll; 
    margin-bottom: 24px; 
    margin-top: 0px;
    padding: 10px;
}

#bid-value{
    font-weight: bold;
}

#message{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
  }

#bid-button{
    margin-top: 10px;
}

#bid-text{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

#time-remaining{
    font-weight: bold;
}

#expiryButton{
    background-color: red;
    font-weight: bold;
}

hr.breaker{
    width: 100%;
    border: 2px solid black;
    margin-top: 40px;
    margin-bottom: 40px;
}