body{
    margin: 0;
    padding: 0;
}

.chat_history{
    height: 400px;
    width: 100%;
    border: 1px solid #ccc; 
    overflow-y: scroll; 
    margin-bottom: 24px; 
    padding: 16px;
}

#title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

#title button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

#chat-send{
    width: 100%;
}

#name{
    font-weight: bold;
}

#message{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#title h2{
    margin-top: 15px;
}