#result{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#box{
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 20px;
    border-bottom: 1px solid black;
}

#image img{
    width: auto;
    height: auto;
    max-width: 400px;
    max-height: 400px;
    border: 1px solid black;
}

#details{
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}

#matches{
    text-align: center;
}
